<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= ROUTERPATH %>/normalize.css">
    <link rel="stylesheet" href="<%= ROUTERPATH %>/bootstrap.min.css">
    <link rel="stylesheet" href="<%= ROUTERPATH %>/wifi.css">
    <link rel="stylesheet" href="<%= ROUTERPATH %>/font-awesome.min.css">
    <link rel="stylesheet" href="<%= ROUTERPATH %>/montserrat.css">
    <link rel="stylesheet" href="<%= ROUTERPATH %>/material-font.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.css" />
    <script src="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
</head>


<body class="wifilogin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="notificationbox">
                    <div class="cadastrar">
                        <div class="interna">
                            <form method="post" action="<%= ROUTERPATH %>/cadastrar" id="cadastroform">
                                <div class="headerwifi">
                                    <div style="text-align: center; width: 100%;">
                                        <p><img class="iconTriiboWifi" src="<%= ROUTERPATH %>/logo_cafe_ponto.jpg" width="160" /><br><br></p>
                                    </div>
                                </div>
                                <p><i class="material-icons" style="font-size: 34px; margin-top: 70px">sentiment_very_satisfied</i></p>
                                <p style="font-size: 16px"> Olá, este é seu <strong>1º acesso</strong>!! </p>
                                <div class="text-left primeiro-acesso">
                                    <p>Confira seus dados e clique em <strong>OK</strong> para continuar</p>
                                    <hr style="border-color:#9A561A">
                                    <p style="color:#221F1F">» Nome: <b> <%= USER_NOME %> </b></p>
                                    <p style="color:#221F1F">» Email: <b> <%= USER_LOGIN %> </b></p>
                                    <hr style="border-color:#9A561A">
                                    <p> Algo errado? Clique em <strong>Voltar</strong></p>
                                </div>
                                <a onclick="hidecadastrar()" class="btn btn-default" style="width: 25%; float: left; text-align: center; margin: 10px 10px 10px 30px;">
                                    << Voltar</a>

                                        <a onclick="formcadastro()" class="btn btn-default" style="background-color:#CD6E18; color:#000000; width: 25%; float: right; text-align: center; margin: 10px 30px 10px 10px"><strong>OK >></strong></a>
                                        </p>
                            </form>
                        </div>
                    </div>
                    <div class="aguarde" style="color:#fff;">
                        <p><br><br><img class="iconTriiboWifi" src="<%= ROUTERPATH %>/logo_cafe_ponto.jpg" width="160" /><br></p>
                        <span style="font-size:16px; font-weight:500;">Aguarde...</span>
                        <!-- COFFEE -->
                        <div class="container-coffee">
                            <div class="mug-coffee">
                                <div class="smoke-container">
                                    <svg width="80px" height="53px" viewbox="0 0 31 53">
                                                                        <g stroke="none" stroke-width="2" fill="none" fill-rule="evenodd">
                                                                            <g class="smokes" transform="translate(.500000, .500000)" stroke="#5d5d5d" stroke-width="7">
                                                                                <g class="smoke-1">
                                                                                    <path id="Shape1" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
                                                                                </g>
                                                                                <g class="smoke-2">
                                                                                    <path id="Shape2" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
                                                                                </g>
                                                                                <g class="smoke-3">
                                                                                    <path id="Shape3" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </svg>
                                </div>
                                <div class="mug"></div>
                            </div>
                        </div>
                    </div>
                    <div class="error">
                        <div class="interna" style="padding: 10px 20px">
                            <span class="title"><i class="material-icons" style="font-size: 38px">sentiment_very_dissatisfied</i><br><br>Ops! Algo deu errado...</span>
                            <span class="errormsg">Verifique o usuário e a senha informados</span><br>
                            <%
							if(ERROR_CODE == 6){
							%>
                                <p><a href="#" class="btn btn-warning" style="text-align: center; color: #fff" data-toggle="modal" data-target="#modalEsqueciSenha">ESQUECI MINHA SENHA</a></p>
                                <%
							}
							%>
                                    <p><a onclick="hideerror()" class="btn btn-default btn-sm" style="text-align: center; color: #231F20">VOLTAR</a></p>
                        </div>
                    </div>
                    <div class="respSenha">
                        <div class="interna" style="padding: 0 20px; text-align: center">
                            <span class="title"><i class="material-icons" style="font-size: 32px">warning</i><br><br>Mensagem de alteração de senha enviada para seu email!</span>

                            <p><a onclick="hideerror()" class="btn btn-default" style="text-align: center; color: #231F20">Fechar</a></p>
                        </div>
                    </div>
                </div>

                <div class="headerwifi">
                    <div style="text-align: center; width: 100%;">
                        <p><img class="iconTriiboWifi" src="<%= ROUTERPATH %>/logo_cafe_ponto.jpg" width="160" /></p>
                    </div>
                </div>


                <div class="col-xs-12" style="padding: 55px 22px 0 12px">


                    <div class="clear showdlonly">
                        <div class="tracobranco"></div>
                        <a onclick="showHideDL(true)" class="spaceing more">
                            <div class="labelBranco">
                                Não quero baixar agora
                                <img src="<%= ROUTERPATH %>/button.gif" class="fright bbutton" />
                            </div>
                        </a>
                    </div>


                    <p class="text-center" style="font-size: 14px"> <br> Bem-vindo ao <span style="font-weight: 500"> Café do Ponto Wi-Fi</span>
                    </p>

                    <div class="col-xs-12">
                        <center>
                            <p style="font-size: 14px; margin-top: 10px">Login com:</p>

                            <a onclick="facebooklogin()" class="btn btn-default btn-lg" style="margin: 8px; background-color: #fff; border-color: #fff; color:#2F68A9; padding: 10px; text-align: center; font-weight: 500; font-size: 14px ">Facebook</a>
                            <% if(os == 'ios-captive' || os == 'ios'){ %>

                                <% }else{ %>
                                    <a onclick="googlelogin()" class="btn btn-default btn-lg" style="margin: 6px; background-color: #D84D40; border-color: #D84D40; color:#fff; padding: 10px; text-align: center; font-weight: 500; font-size: 14px ">Google</a>
                                    <%}%>
                                        <a href="#" class="btn btn-default btn-lg" style="margin: 6px; background-color: #4A4A4A; border-color: #4A4A4A; color:#fff; padding: 10px; text-align: center; font-weight: 500; font-size: 14px" data-toggle="modal" data-target="#modalEmail">Email</a>

                        </center>
                        <p> </p>
                    </div>


                    <% if(os == 'ios-captive' || os == 'ios'){ %>
                        <a class="btn btn-link btn-block" href="https://itunes.apple.com/us/app/triibo/id1118996431?l=pt&ls=1&mt=8" style="color: #fff; text-align: center;"><i class="material-icons" style="font-size: 16px;">phone_iphone</i> Baixe o App</a>
                        <% }else{ %>
                            <a class="btn btn-link" href="https://play.google.com/store/apps/details?id=br.com.sysmobil.triiboclient&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                                style="color: #fff; text-align: center; width: 45%; float: right"><i class="material-icons" style="font-size: 16px;">phone_android</i> Baixe o App</a>
                            <% } %>


                                <% if(os != 'ios-captive'){ %>
                                    <a class="btn btn-link" href="https://app.triibo.com.br/#/termosdeuso" style="color: #fff; text-align: center; width: 45%; float: left"><i class="material-icons" style="font-size: 16px;">description</i> Termos de Uso</a>
                                    <% } %>
                                        <div class="spaceblock"></div>

                </div>



                <input type="hidden" id="idfacebook" value="<%= idfacebook %>"></input>
                <input type="hidden" id="myurl" value="<%= url %>"></input>
                <input type="hidden" id="error" value="<%= error %>"></input>
                <input type="hidden" id="cadastrar" value="<%= cadastrar %>"></input>
                <input type="hidden" id="signInWithEmail" value="<%= signInWithEmail %>"></input>
                <input type="hidden" id="googleurl" value="<%= googlelogin %>"></input>
                <input type="hidden" id="routerPath" value="<%= ROUTERPATH %>"></input>

            </div>
        </div>
        <div class="powered">powered by <img src="<%= ROUTERPATH %>/mini_logo_triibo.png"></div>
    </div>

    <!-- Modal EMAIL-->
    <div class="modal fade" id="modalEmail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#DBB37F; border-radius: 6px 6px 0 0">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" style="color: #000000">Preencha os campos baixo para fazer seu login</p>
                </div>
                <div class="modal-body" style="background-color:#FAE6C4">
                    <form method="post" action="<%= ROUTERPATH %>/dologin" id="mailform">
                        <input type="text" class="inputWifi" id="nome" name="nome" placeholder="Nome" value="" />
                        <input style="text-transform: lowercase" type="email" class="inputWifi" id="user" name="user" placeholder="Email" value="" />
                        <div id="erroEmail"></div>
                        <input type="password" class="inputWifi inputPass" style="background-color:transparent;" name="password" id="password" placeholder="Senha" />
                        <button class="inputWifi" type="button" id="showPassword" style="width:auto; display: block; font-size: 20px; background:transparent;  cursor: pointer; float: right;  color:#AFA189; text-align: center; padding: 6px 16px"><i class="material-icons">visibility</i></button>

                        <a class="btn btn-primary btn-lg" style="text-align:center; margin-top: 10px" onclick="formlogin()">ENTRAR</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal CELULAR-->
    <div class="modal fade" id="modalCelular">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" style="color: #2F68A9">Informe seu celular para entrar e receba um SMS com senha para acesso.</p>
                </div>
                <div class="modal-body">
                    <form method="post" action="<%= ROUTERPATH %>/dologinPhone" id="mailformCel">
                        <input id="nomeCel" type="text" class="inputCel" name="nomeCel" required placeholder="Nome" value="" />
                        <input id="celular" type="text" class="inputCel" name="celular" required placeholder="Celular" value="" />
                        <input id="codeSMS" type="text" class="inputCel" name="codeSMS" required placeholder="* Digite aqui o código que enviamos" value="" style="display:none" />
                        <p><br></p>
                        <p><a class="btn btn-primary btn-lg" style="text-align:center " onclick="formloginCel()">ENVIAR</a></p>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal Esqueci Senha-->
    <div class="modal fade" id="modalEsqueciSenha">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header" style="background-color:#DBB37F; border-radius: 6px 6px 0 0">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" style="color: #000"><strong>Esqueceu a Senha!</strong><br>Confira o endereço de e-mail abaixo e clique em <strong>"Recuperar senha"</strong>. Sua senha será redefinida e enviada para o email abaixo em instantes.</p>
                </div>
                <div class="modal-body" style="background-color:#FAE6C4">
                    <form method="post" action="<%= ROUTERPATH %>/resetSenha" id="resetSenha">

                        <input type="email" style="text-transform: lowercase" class="inputWifi" name="email" placeholder="E-mail cadastrado" value="<%= USER_LOGIN %>" />

                        <p><br></p>
                        <p><a class="btn btn-primary btn-lg" style="text-align:center " onclick="formResetSenha()">Recuperar senha</a></p>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="<%= ROUTERPATH %>/jquery.min.js"></script>
    <script type="text/javascript" src="<%= ROUTERPATH %>/jquery.mask.min.js"></script>
    <script type="text/javascript" src="<%= ROUTERPATH %>/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= ROUTERPATH %>/login.js"></script>
    <script type="text/javascript" src="<%= ROUTERPATH %>/detectmobile.js"></script>

    <script type="text/javascript">
        //Intitialize Firebase to handle reCaptcha
        var config = {
            apiKey: "<%=FIREBASE_APIKEY%>",
            authDomain: "<%=FIREBASE_PROJECTID%>",
            databaseURL: "<%=FIREBASE_DATABASEURL%>",
            storageBucket: "<%=FIREBASE_STORAGEBUCKET%>",
            messagingSenderId: "<%=FIREBASE_MESSAGINGSENDERID%>"
        };
        firebase.initializeApp(config);

        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('btnEnviarPhone', {
            'size': 'invisible',
            'callback': function(response) {
                // reCAPTCHA solved, allow signInWithPhoneNumber.
                formloginCel();
            }
        });
    </script>



</body>

</html>