<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/montserrat.css">
    <link rel="stylesheet" href="../css/wifi.css">
</head>

<body>
    <div class="col-xs-12" style="background: #fff; padding: 0px; width:100%; height: auto; display: block; position:fixed; z-index:100000;">
        <div style="background:#231F20; padding:4px 0; text-align:center">
            <img src="../images/logo_cafe_ponto.jpg" width="100">
        </div>
        <div class="col-xs-12" style="margin:5px 0">
            <a href="#" onclick="document.getElementById('wifi-triibo').submit();" id="btnPag" class="btn btn-primary" style="text-align: center; text-transform:uppercase; font-weight:400 ; font-size:12px">
                <strong> Clique aqui para liberar a internet!</strong>
            </a>
        </div>

    </div>
    <div class="clearfix"></div>
    <p style="display:block; margin-top:120px;"></p>
    <div class="container-promocao">

        <div style="width:100%; position: relative; z-index:1; display:block">
            <div class="box">
                <h4 class="text-center;">Aproveite nossas ofertas e promoções!</h4>
            </div>

            <div class="box-ft">
                <div style="position:relative; z-index:-1"><img src="../images/ft_promocao1.jpg" class="img-responsive"></div>
            </div>
            <div class="box-ft">
                <div style="position:relative; z-index:-1"><img src="../images/ft_promocao2.jpg" class="img-responsive"></div>
            </div>
            <div class="box-ft">
                <div style="position:relative; z-index:-1"><img src="../images/ft_promocao3.jpg" class="img-responsive"></div>
            </div>
        </div>


    </div>

    <script type="text/javascript" src="../frontendjs/jquerym.min.js"></script>

</body>

</html>