<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Café do Ponto - Pagina de Propaganda</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">	
<link rel="stylesheet" href="../css/montserrat.css">
<link rel="stylesheet" href="../css/wifi.css">

<script>
function mostrarDataHora(dataHoje,hora){

    nHora = hora.split(":");
    retorno = dataHoje;
    retorno += " - " + nHora[0]+":"+(nHora[1] < 10 ? "0"+nHora[1] : nHora[1])+":"+nHora[2];
	

    document.getElementById("datahora").innerHTML = retorno;
}


function atualizarDataHora(){ 
    dataAtual = new Date();
	dia = dataAtual.getDate();
	mes = dataAtual.getMonth();
	ano = dataAtual.getFullYear();
    hora = dataAtual.getHours();
    minuto = dataAtual.getMinutes();
    segundo = dataAtual.getSeconds();
	
	dataHoje = dia + "/" + (mes < 10 ? "0"+(mes+1) : (mes+1)) + "/" + ano;
    horaImprimivel = hora + ":" + minuto + ":" + segundo;
	mostrarDataHora(dataHoje,horaImprimivel);
	setTimeout("atualizarDataHora()",1000);
} 

 </script>
</head>

<body onload="atualizarDataHora()">
        <div class="col-xs-12" style="background: #fff; padding: 10px; width:100%; height: auto; display: block">
                <a href="#" onclick="document.getElementById('wifi-triibo').submit();"  id="btnPag" class="btn btn-primary" style="text-align: center " >
                 <strong> Clique aqui para liberar a internet!</strong>
                </a>
         </div>
         <div class="clearfix"></div>
        <div class="container-promocao">
            <div style="width:100%; position: relative; z-index:2">
                <div class="box">
                    <h2 class="boxBtm text-center">Você acabou de ganhar um  desconto!</h2>
                    <h4 class="text-center">Apresente o cupom abaixo.</h4>
                    <div class="clearfix"></div>
                </div>
                <div style="position: absolute; width:100%; border-top:8px dotted #fff; z-index: 2; bottom: -4px"></div>	
            </div>

            <div style="position:relative; z-index:1"><img src="../images/ft_promocao.jpg" class="img-responsive"></div>
            <div class="box-inf">
                    <div style="position: absolute; width:100%; border-top:8px dotted #fff; z-index: 2; top: -4px"></div>
                <h4 id="datahora" class="text-center"> </h4>
                <h5 class="text-center">Válido por 20min.</h5>
                <hr />

                <div class="col-xs-3 text-center"><i class="fa fa-ticket fa-5x"></i></div>
                <div class="col-xs-9"><h5>Para usar o cupom é muito simples: basta você apresentar a esta tela ao caixa do estabelecimento no prazo máximo de 20min.</h5></div>
                <div class="clearfix"></div>
               
            </div>
        </div>
    
<script type="text/javascript" src="../frontendjs/jquerym.min.js"></script>

</body>

</html>