<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/montserrat.css">
    <link rel="stylesheet" href="../css/wifi.css">


    <title>
        <%=title%>
    </title>


    <!-- 
    <%
if(os === 'ios' || os === 'ios-captive'){
	altura = "1000";
	jsc = 0;
}else{
	altura = "100%";
	jsc = 1;
}

%> -->
</head>

<body>


    <div class="" style="background: #231F20; padding: 0; width:100%; height: auto; display: block; position:fixed; z-index:1000000">
        <div style="background:#231F20; padding:4px 0; text-align:center">
            <img src="../images/logo_cafe_ponto.jpg" width="100">
        </div>
        <div style="margin-top:5px; background:#fff; width:100%; height:auto; padding:10px">
            <a href="#" onclick="document.getElementById('wifi-triibo').submit();" id="btnPag" class="btn btn-primary" style="text-align: center; text-transform:uppercase; font-weight:400 ; font-size:12px">
                <strong> Clique aqui para liberar a internet!</strong>
            </a>
        </div>
    </div>
    <form action="<%= ROUTERPATH + " / " + link %>" method="POST" id="wifi-triibo" style="padding: 0;margin: 0">

    </form>
    <div class="clearfix"></div>
    <iframe src="https://www.triibo.com.br/cafedoponto/views/pag_propaganda.html" " allowfullscreen frameborder="0 " width="100% " height="100% "  style="margin-top: 95px "></iframe>

    <script type="text/javascript " src="../frontendjs/jquerym.min.js "></script>


</body>

</html>