<html>
	<head></head>
	<body>
		<form action="<%= dst %>" method="POST">
			<input type="hidden" name="username" value="<%= user %>">
			<input type="hidden" name="password" value="<%= password %>">
			<input type="hidden" name="dst" value="<%= dst %>">
			<input type="hidden" name="link" value="<%= link %>">
			<input type="hidden" name="popup" value="false">
			<!-- <input type="submit" class="orangebtn" value="Navegar Agora!"> -->
		</form="">
		<script type="text/javascript" src="<%= ROUTERPATH %>/jquery.min.js"></script>
		<script type="text/javascript" src="<%= ROUTERPATH %>/request.js"></script>
	</body>
</html>
