<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/montserrat.css">
    <link rel="stylesheet" href="../css/wifi.css">


</head>

<body>

    <div class="clearfix"></div>
    <div class="container">
        <div style="background: #fff; padding: 10px; width:100%; height: auto; display: block">
            <a href="javascript:history.back(-1)" id="btnPag" class="btn btn-primary" style="text-align: center ">
                <strong> Clique aqui para voltar!</strong>
            </a>
        </div>
        <div class="col-md-12" style="color:#000">
            <h1 class="termos header">TERMOS DE USO DOS SERVIÇOS CAFÉ DO PONTO</h1>
            <p class="termos lastVersion">Última modificação: 01 de julho de 2016</p>
            <p class="termos title">Bem-vindo ao Café do Ponto Wi-Fi!</p>
            <p class="termos bodytext">Agradecemos por seu interesse em utilizar nossos produtos e serviços, queremos esclarecer e declarar todas as condições de uso para que você se torne um usuário e aproveite tudo da maneira mais segura, fácil e transparente possível. RECOMENDADOS
                A LEITURA DESSES TERMOS ANTES DE INICIAR O USO DE NOSSOS SERVIÇOS!</p>
            <p class="termos bodytext">Este <span class="textblue">Termo de Uso e Aceite</span> destina-se a todos os usuários de nossos serviços seja através do Aplicativo TRIIBO (disponível na Apple Store e na Google Play) via dispositivos móveis (ex: tablets, smart phones, celulares
                ou similares) ou ainda através da web em: <a href="http://cafedoponto.com.br">http://cafedoponto.com.br</a> . DE FORMA COMPLEMENTAR AO LER ESTE TERMO DE ACEITE VOCÊ DEVE LER E ACEITAR O (S) TERMO (S) ABAIXO:</p>
            <ul class="termos topic">
                <li>Política de Privacidade TRIIBO</li>
                <p class="termos bodytext">Os itens contidos nesse termo relacionam-se com característica específicas dos serviços listados abaixo:</p>
                <li>Conta TRIIBO</li>
                <li>Agenda TRIIBO</li>
                <li>WI-FI TRIIBO</li>
            </ul>
            <p class="termos bodytext">Ao utilizar nossos Serviços, você está <span class="textblue">concordando</span> , com estes termos. Caso tenha alguma dúvida ao ler este documento ficaremos felizes em esclarecê-las, você pode contatar-nos a qualquer momento através do e-mail:
                <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a></p>
            <p class="termos bodytext">A natureza de nossos Serviços poder variar, por isso, quando aplicável a TRIIBO poderá solicitar termos de serviço adicionais. Isso faz-se necessário para garantir que nosso contrato de uso de Serviços com você seja o mais claro e correto
                possível.
            </p>
            <p class="termos title">Política de USO dos nossos Serviços</p>
            <p class="termos bodytext">Como regra geral é preciso que você siga as políticas disponibilizadas nesse termo para poder utilizar nossos Serviços.</p>
            <p class="termos bodytext">Não faça uso indevido de nossos Serviços. Por exemplo, não tente acessá-los por um método diferente da interface e das instruções que fornecemos. Você pode usar nossos serviços somente conforme permitido pelas leis vigentes no país (ex: Lei
                9.610, 9.609 e 9.279 que regulam direitos e obrigações relativos à propriedade intelectual, industrial e de software) e da forma como disponibilizada por nós, isso inclui regulação civil e criminal e também o recente Marco Civil da Internet
                (lei 12.965). PODEMOS SUSPENDER OU DEIXAR DE FORNECER NOSSOS SERVIÇOS SE VOCÊ DESCUMPRIR NOSSOS TERMOS OU POLÍTICAS OU SE ESTIVERMOS INVESTIGANDO CASOS DE SUSPEITA DE MÁ CONDUTA.</p>
            <p class="termos bodytext">O uso de nossos Serviços não lhe confere a propriedade sobre direitos de propriedade intelectual sobre os mesmos ou ainda sobre o conteúdo que você acessar. VOCÊ NÃO PODE USAR CONTEÚDOS E INFORMAÇÕES DE FORMA COMERCIAL UTILIZANDO NOSSOS SERVIÇOS
                A MENOS QUE OBTENHA PERMISSÃO DA TRIIBO OU DO PROPRIETÁRIO DE TAL CONTEÚDO OU AINDA QUE O FAÇA POR ALGUM MEIO PERMITIDO POR LEI.</p>
            <p class="termos bodytext">Nossos Serviços exibem alguns conteúdos e informações que também podem ser providas por terceiros. Reforçamos que esses conteúdos são de exclusiva responsabilidade dos usuários, empresas ou entidades que os disponibilizam. A veracidade de
                tais informações e conteúdos e até mesmo o tipo dos serviços são de responsabilidade dos usuários que disponibilizam os serviços na TRIIBO. Podemos, claro, a qualquer momento bloquear e retirar usuários que ofendam nossas políticas de
                uso ou desrespeitem de forma deliberada nossos termos de uso. Podemos também revisar a disponibilização desses conteúdos e informações para determinar se é ilegal ou se infringe nossas políticas, e/ou ainda podemos remover ou nos recusar
                a exibir as informações e os conteúdos que acreditamos violar nossas políticas ou alguma lei vigente no país de uso.</p>
            <p class="termos bodytext">Em relação ao processo de uso dos Serviços, podemos enviar-lhe anúncios de Serviços da TRIIBO, mensagens administrativas e outras informações que julgarmos procedentes. Você pode desativar algumas dessas comunicações através de interfaces
                que disponibilizamos a você ex: Aplicativo TRIIBO.</p>
            <p class="termos bodytext">ALGUNS DOS NOSSOS SERVIÇOS ESTÃO DISPONÍVEIS EM DISPOSITIVOS MÓVEIS. DESTA FORMA O USUÁRIO NÃO DEVE UTILIZAR TAIS SERVIÇOS DE FORMA QUE O DISTRAIA OU O IMPEÇA DE CUMPRIR LEIS VIGENTES NO PAIS TAIS COMO LEGISLAÇÃO DE TRÂNSITO OU DE SEGURANÇA.</p>
            <p class="termos title">Proteção à Privacidade e aos Direitos Autorais</p>
            <p class="termos bodytext">A <span class="textblue">Política de Privacidade</span> TRIIBO explica os detalhes de como tratamos suas informações e dados pessoais e como protegemos sua privacidade quando você usa nossos Serviços. Ao utilizar nossos Serviços, você concorda
                que A TRIIBO poderá usar esses dados de acordo com nossas políticas de privacidade.</p>
            <p class="termos bodytext">Os serviços da TRIIBO respeitam as regras de direitos autorais vigentes. Portanto a TRIIBO pode a qualquer momento suspender os serviços prestados caso entenda haver violação desses direitos ao usuário utilizar os serviços oferecidos.</p>
            <p class="termos title">Seu Conteúdo em nossos Serviços</p>
            <p class="termos bodytext">Alguns de nossos Serviços permitem que você faça upload, submeta, armazene, envie ou receba conteúdo (ex: Fotos, informações de contato e etc). Você mantém a propriedade de quaisquer direitos de propriedade intelectual que você já detenha
                sobre aquele conteúdo. Em resumo, aquilo que pertence a você, permanece com você. Certifique-se de que você tem os direitos necessários para nos conceder a licença de qualquer conteúdo que você enviar a nossos Serviços.</p>
            <p class="termos bodytext">Quando você faz upload, submete, armazena, envia ou recebe conteúdo a nossos Serviços ou por meio deles, você concede a TRIIBO (e àqueles com quem trabalhamos) uma licença mundial para usar, hospedar, armazenar, reproduzir, modificar, criar
                obras derivadas (como aquelas resultantes de traduções, adaptações ou outras alterações que fazemos para que seu conteúdo funcione melhor com nossos Serviços), comunicar, publicar, executar e exibir publicamente e distribuir tal conteúdo.
                Os direitos que você concede nesta licença são para os fins restritos de operação, promoção e melhoria de nossos Serviços e de desenvolvimento novos Serviços da TRIIBO. Essa licença perdura mesmo que você deixe de usar nossos Serviços
                (por exemplo, uma listagem de clientes que você adicionou ao Triibo Agenda). Alguns Serviços podem oferecer-lhe modos de acessar e remover que foram fornecidos para aquele Serviço. Além disso, em alguns de nossos Serviços, existem termos
                ou configurações que restringem o escopo de nosso uso do conteúdo enviado nesses Serviços.</p>
            <p class="termos title">Sobre Software em nossos Serviços</p>
            <p class="termos bodytext">Quando um Serviço exige ou inclui software disponível para download, tal software poderá atualizar-se automaticamente em seu dispositivo se uma nova versão ou recurso estiver disponível. Alguns Serviços podem permitir que você ajuste suas
                configurações de atualizações automáticas. Isto é importante para que você entenda que haverá uso da Internet através do WI-FI ou mesmo redes móveis quando configurar o caso.</p>
            <p class="termos bodytext">A TRIIBO concede a você uma licença pessoal, mundial, não exclusiva, intransferível e isenta de royalties para o uso do software fornecido pela TRIIBO como parte dos Serviços. Você não poderá copiar, modificar, distribuir, vender ou alugar
                qualquer parte de nossos Serviços ou o software incluso, nem poderá fazer engenharia reversa ou tentar extrair o código fonte desse software, exceto nos casos em que a legislação proibir tais restrições, ou quando você tiver nossa permissão
                por escrito.</p>
            <p class="termos bodytext">Software de código aberto é importante para nós. Alguns dos softwares usados em nossos Serviços podem ser oferecidos sob uma licença de código aberto que colocaremos a sua disposição caso você nos solicite através de contato
                <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a>. Pode haver disposições na licença de código aberto que substituam expressamente alguns desses termos.</p>
            <p class="termos title">Como modificar e cancelar nossos Serviços</p>
            <p class="termos bodytext">Estamos constantemente alterando e melhorando nossos Serviços. Podemos incluir ou remover funcionalidades ou recursos e podemos também suspender ou encerrar um serviço por completo.</p>
            <p class="termos bodytext">Quando houver a suspensão ou cancelamento de um serviço, no entanto, nós respeitaremos os usuários avisando-os com antecedência de pelo menos <span class="textblue">30 dias</span>.</p>
            <p class="termos bodytext">Você pode deixar de usar nossos Serviços a qualquer momento, embora fiquemos chateados ao ver você ir embora. A TRIIBO também poderá deixar de prestar os Serviços a você ou, incluir ou criar novos limites a nossos Serviços a qualquer momento.
            </p>
            <p class="termos title">Nossas Garantias e Isenções de Responsabilidade</p>
            <p class="termos bodytext">Fornecemos nossos Serviços usando as melhores práticas de mercado e com qualidade e confiabilidade compatíveis com outras empresas do mercado e esperamos que você aproveite seu uso deles. Mas existem algumas coisas que NÃO PROMETEMOS SOBRE
                NOSSOS SERVIÇOS.</p>
            <p class="termos bodytext">EXCETO QUANDO EXPRESSAMENTE PREVISTO NESTES TERMOS OU EM TERMOS ADICIONAIS, NEM TRIIBO, NEM SEUS FORNECEDORES OU DISTRIBUIDORES OFERECEREM QUAISQUER GARANTIAS SOBRE OS SERVIÇOS. POR EXEMPLO, NÃO NOS RESPONSABILIZAMOS PELOS CONTEÚDOS NOS SERVIÇOS,
                POR FUNCIONALIDADES ESPECÍFICAS DOS SERVIÇOS, OU PELA CONFIABILIDADE, DISPONIBILIDADE OU CAPACIDADE DE ATENDER SUAS NECESSIDADES. FORNECEMOS OS SERVIÇOS “<span class="textblue">NA FORMA COMO ESTÃO, COMPATÍVEIS COM SERVIÇOS SIMILARES NO MERCADO</span>”.</p>
            <p class="termos bodytext">NÃO GARANTIMOS QUE A TRIIBO SERÁ SEMPRE UM AMBIENTE SEGURO, PROTEGIDO, SEM ERROS, NEM SEMPRE FUNCIONARÁ SEM INTERRUPÇÕES, ATRASOS OU IMPERFEIÇÕES. TAMBÉM NÃO NOS RESPONSABILIZAMOS POR QUALQUER PERDA DE LUCRO OU OUTROS DANOS CONSEQUENTES, ESPECIAIS,
                DIRETOS E INDIRETOS OU ACIDENTAIS DECORRENTES DE OU RELATIVOS AOS SERVIÇOS DISPONIBILIZADOS NA TRIIBO, MESMO QUE TENHAMOS SIDO AVISADOS DA POSSIBILIDADE DE TAIS DANOS.</p>
            <p class="termos bodytext">CERTAS JURISDIÇÕES PREVEEM DETERMINADAS GARANTIAS, COMO A GARANTIA DE COMERCIALIDADE IMPLÍCITA, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO VIOLAÇÃO. NA MEDIDA PERMITIDA POR LEI, EXCLUÍMOS TODAS AS GARANTIAS.</p>
            <p class="termos title">Responsabilidade pelos nossos Serviços</p>
            <p class="termos bodytext">QUANDO PERMITIDO POR LEI, A TRIIBO E OS FORNECEDORES OU DISTRIBUIDORES DA TRIIBO NÃO SERÃO RESPONSÁVEIS POR PERDA DE LUCROS, PERDA DE RECEITA, PERDA DE DADOS, PERDAS FINANCEIRAS OU DANOS DIRETOS OU INDIRETOS, ESPECIAIS, CONSEQUENCIAIS, EXEMPLARES
                OU PUNITIVOS.</p>
            <p class="termos bodytext">Na medida permitida por lei, a responsabilidade total da TRIIBO e de seus fornecedores e distribuidores, para qualquer reclamação sob estes termos, incluindo quaisquer garantias implícitas, limita-se ao valor que você pagou à TRIIBO para usar
                os serviços (ou, a nosso critério, para fornecer a você os serviços novamente).</p>
            <p class="termos bodytext">EM TODOS OS CASOS, A TRIIBO E SEUS FORNECEDORES E DISTRIBUIDORES NÃO SERÃO RESPONSÁVEIS POR QUALQUER PERDA OU DANO QUE NÃO SEJA RAZOAVELMENTE PREVISÍVEL.</p>
            <p class="termos title">Usos comerciais de nossos Serviços</p>
            <p class="termos bodytext">Se você estiver usando nossos Serviços em nome de uma empresa, tal empresa aceita estes termos. Ela isentará de responsabilidade e indenizará a TRIIBO e suas afiliadas, executivos, agentes e trabalhadores de qualquer reivindicação, processo
                ou ação judicial proveniente de ou relacionado ao uso dos Serviços ou à violação destes termos, incluindo qualquer responsabilidade ou despesa resultante de reivindicações, perdas, danos, processos, julgamentos, custos de litígio e honorários
                advocatícios.
            </p>
            <p class="termos title">SOBRE O SERVIÇO CONTA TRIIBO</p>
            <p class="termos bodytext">Você precisa criar uma <span class="textblue">Conta TRIIBO</span> para utilizar nossos Serviços. Assim o primeiro passo é se registrar conosco (você poderá fazer isso em nossos aplicativos Android e Apple ou ainda na Web) e assim nos fornecendo
                informações como e-mail, número de celular, e etc. Você poderá ainda delegar o registro dessa conta através de provedores externos como Google, Facebook, Linkedin e etc. Iremos atribuir uma chave única em nossos sistemas a essa conta para
                que seja possível identificarmos você e quando necessário fornecer informações sobre essa chave. Sua <span class="textblue">Conta TRIIBO</span> é pessoal e intransferível. A TRIIBO, no entanto, entende que caso haja delegação no uso dessa
                conta exemplo: Uma secretária auxiliar um prestador de serviço a organizar a agenda utilizando o <span class="textblue">TRIIBO AGENDA</span> isso trata-se de um procedimento realizado pelo próprio usuário. Cabendo a ele responsabilidade
                do ato. Estaremos sempre evoluindo nossos serviços de forma a facilitar esse processo de uso da conta e delegação de responsabilidades de forma que haja total controle por parte dono da conta.</p>
            <p class="termos bodytext">Para proteger sua <span class="textblue">Conta TRIIBO</span>, o usuário deve manter a senha em sigilo. As atividades realizadas na <span class="textblue">Conta TRIIBO</span> ou por seu intermédio são de responsabilidade do usuário. Não recomendamos
                que a senha ou acesso da <span class="textblue">Conta Triibo</span> seja reutilizada para terceiros. Caso tome conhecimento de uso não autorizado da sua senha ou <span class="textblue">Conta TRIIBO</span>, o usuário deve entrar em contato
                com os administradores <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a>.</p>
            <p class="termos bodytext">Você poderá cancelar sua <span class="textblue">Conta TRIIBO</span> a qualquer momento desta forma sinalizando para nós que não quer mais utilizar todos os nossos Serviços. Esse procedimento deverá ser realizado através de contato do usuário
                através do email <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a>, estamos sempre evoluindo nossos produtos e serviços e poderemos no futuro disponibilizar outros meios de cancelar nossos Serviços.
            </p>
            <p class="termos bodytext">O cancelamento de sua <span class="textblue">Conta TRIIBO</span> não significa, porém que seus dados como histórico, transações financeiras, pagamentos, contatos serão excluídos de nossas bases. A TRIIBO reserva-se o direito de uso dessas
                informações para aprimoramento de nossos serviços mesmo após o cancelamento de uso de Serviços e sua <span class="textblue">Conta TRIIBO</span>. Ressaltamos, ainda que seguimos a política de privacidade em todos os momentos e respeitamos
                a leis vigentes de maneira a não causar qualquer dano aos nossos usuários.</p>
            <p class="termos bodytext">O cancelamento de uso dos nossos Serviços não cessa qualquer eventual pendência financeira aberta com a TRIIBO. A TRIIBO ressarcirá em um período de <span class="textblue">30 dias</span> qualquer valor considerado como crédito de uso em nossos
                Serviços. No entanto, a TRIIBO esclarece que apenas transações financeiras serão compensadas. Créditos oriundos de promoções, campanhas, ou ações similares não serão ressarcidas.</p>
            <p class="termos bodytext">Ao cancelar sua <span class="textblue">Conta TRIIBO</span> o usuário abre mão de todos os créditos, caso o usuário venha no futuro a reativar sua <span class="textblue">Conta a TRIIBO</span> A TRIIBO reserva-se o direito de considerar os créditos
                antigos como vencidos ou inválidos.</p>
            <p class="termos title">Sobre o serviço AGENDA TRIIBO</p>
            <p class="termos bodytext">Os Serviço <span class="textblue">Agenda TRIIBO</span> oferecidos pela <span class="textblue">TRIIBO</span> consiste no anúncio de serviços prestados por diversos Profissionais ex: Médicos, Engenheiros, Artistas, Pintores, Diaristas, Publicitários
                e etc. Estes são chamados de <span class="textblue">Prestadores</span> em nosso negócio. Aos que reservam esses serviços utilizando nossos sistemas, ex: aplicativo Apple, chamamos de <span class="textblue">Clientes</span>. O AGENDA TRIIBO
                É É OFERECIDO A QUALQUER USUÁRIO QUE POSSUA UMA CONTA TRIIBO ATIVA. A POLÍTICA DA TRIIBO EM RELAÇÃO A QUEM E O QUE PODE SER OFERECIDO É AMPLA E DIVERSIFICADA E EM UM RESUMO BREVE PENSAMOS QUE QUALQUER PROFISSIONAL POSSA OFERECER SEUS SERVIÇOS
                UTILIZANDO O SERVIÇO DE AGENDA TRIIBO EM NOSSOS APLICATIVOS E NA WEB. NÃO POSSUIMOS QUALQUER RESTRIÇÃO DE NATUREZA (POLÍTICA, IDEOLÓGICA, RELIGIOSA, SEXUAL, ÉTNICA, GEOGRÁFICA, CIENTÍFICA) SOBRE OS CONTEÚDOS E SERVIÇOS PROFISSIONAIS DISPONIBILIZADOS
                NA TRIIBO, (PORÉM ESCLARECEMOS QUE CONTINUAMOS A SEGUIR TODAS AS REGRAS E LEIS VIGENTES NO PAÍS.</p>
            <p class="termos bodytext">A TRIIBO PERMITE A COMERCIALIZAÇÃO DE SERVIÇOS E CONTEÚDOS ANUNCIADOS NO AGENDA TRIIBO, NÃO SENDO RESPONSÁVEL POR NENHUMA PARTE NO PROCESSO ENTRE O PRESTADOR E O CLIENTE.</p>
            <p class="termos bodytext">Serviços considerados ilegais poderão ser bloqueados se houver solicitação de autoridades competentes. Também poderemos revisar casos específicos que os usuários reportarem à TRIIBO, por exemplo, profissionais falsos ou até mesmo serviços
                falsos.
            </p>
            <p class="termos bodytext">A TRIIBO NÃO PODERÁ GARANTIR ALGUMAS CARACTERÍSTICAS DOS SERVIÇOS CONFORME: DIVERGÊNCIA DE PREÇO, LOCAL, DATA, NOME, PROFISSIONAL, SERVIÇOS ANUNCIADOS E ETC. A TRIIBO DECLARA NÃO SER A PRESTADORA DOS SERVIÇOS ANUNCIADOS NOS APLICATIVOS. CABE
                TOTAL RESPONSABILIDADE CIVIL E CRIMINAL AOS ANUNCIANTES E PRESTADORES DE SERVIÇO QUE UTILIZAM o AGENDA TRIIBO, QUANDO HOUVER PRESTAÇÃO DE UM SERVIÇO PROFISSIONAL.</p>
            <p class="termos bodytext">Também não podemos oferecer garantias sobre o consumo dos serviços agendados através do Agenda TRIIBO. Trabalhamos sempre pensando em facilitar, auxiliar e unir clientes e profissionais em redes comuns, no entanto não temos como garantir que
                um cliente consuma um serviço, nem mesmo concorde com condições de serviços anunciados por um prestador.</p>
            <p class="termos bodytext">Não existe restrição sobre o uso do Agenda TRIIBO sobre idade, recomendamos, no entanto, que pais (ou responsáveis legais) por menores supervisionem o uso desse Serviço constantemente. A TRIIBO não se responsabiliza pela reserva, prejuízo
                ou danos morais e materiais causados pelo uso incorreto do Agenda TRIIBO. Para mantermos uma rede útil e atrativa para nossos clientes nos reservamos o direito e oferecemos a possibilidade tanto de prestadores como de clientes para bloqueio,
                suspensão ou cancelamento da prestação dos serviços de agendamento caso haja entendimento ou violação de nossas políticas. Tanto prestadores como clientes poderão oferecer reclamações sobre o Agenda TRIIBO através do e-mail <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a>.</p>
            <p class="termos bodytext">A TRIIBO declara ainda não que participa do faturamento e questões contábeis de seus prestadores, caso aconteça no futuro a TRIIBO se reserva o direito de declarar isso de forma explícita. Assim entendemos manter o máximo de imparcialidade
                e transparência dentro da plataforma.</p>
            <p class="termos bodytext">Os dados de agendamento seguem nossa <span class="textblue">Política de Privacidade</span>, e por isso garantimos sigilo aos nossos clientes quando houver uso deste serviço. No entanto poderemos analisar dados de uso tais como dispositivos
                utilizados, relacionamento entre prestadores e fornecedores, localidade, horário, categoria, preço, duração, entre outros para melhorar nossos serviços.</p>
            <p class="termos title">Sobre os serviços TRIIBO WI-FI</p>
            <p class="termos bodytext">Os serviços de WI-FI oferecidos pela TRIIBO consistem no acesso ao uso de redes de transmissão de dados para acesso Internet. Os WI-FIS são cadastrados por Clientes e Prestadores para compartilhamento do ponto de acesso. O WI-FI TRIIBO É UM
                SERVIÇO É GRATUITO E OFERECIDO A QUALQUER USUÁRIO QUE POSSUA UMA CONTA TRIIBO ATIVA. É importante, no entanto esclarecermos que o acesso aos pontos de WI-FI´s cadastrados na rede TRIIBO são apenas partes do processo de acesso à internet
                e não representam todos os atores envolvidos no mesmo. Por isso não podemos garantir algumas características nesse serviço. Nossa política neste Serviço é que as redes possam ser adicionadas por usuários e prestadores livremente, sem restrições,
                apenas com informações considerada públicas. Partimos do princípio que os usuários que fizeram cadastramento de uma WI-FI na TRIIBO tiveram acesso as informações relacionadas de forma legal e intencional aos dados como SSID, usuário e
                senha de cada WI-FI.</p>
            <p class="termos bodytext">Existem dois papéis bem definidos no uso do serviço de WI-FI, Prestadores e Usuários (não necessariamente Clientes). Há a possibilidade de um prestador, e somente para esse papel, de apropriar-se da sua própria rede WI-FI. Para isso realizamos
                um procedimento de pedido de autoria e confirmação de dados através do email: <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a>.</p>
            <p class="termos bodytext">Se você for proprietário de uma rede WI-FI cadastrada na rede TRIIBO e não autorizar o uso das informações em nosso Serviço, você poderá solicitar a retirada da mesma através do email <a href="mailto:contato@triibo.com.br">contato@triibo.com.br</a>.</p>
            <p class="termos bodytext">A TRIIBO entende que é de responsabilidade dos usuários e prestadores todas as informações cadastradas no Serviço. A TRIIBO utiliza criptografia e técnicas avançadas para guardar informações como senhas, por isso não é possível que nós mesmos
                ou que terceiros consigam acessar essas informações. Isso significa que não fornecemos senhas ou informações das redes a usuários ou prestadores que solicitem à TRIIBO.</p>
            <p class="termos bodytext">Quando uma rede possui um proprietário esse prestador passa a ser responsável pelas informações da mesma, quando ela não possui, as informações nela contida são de responsabilidade do usuário que a cadastrou ou alterou por último.</p>
            <p class="termos bodytext">A TRIIBO NÃO GARANTE CONFIDENCIALIDADE, SEGURANÇA, VELOCIDADE, DISPONIBILIDADE, GARANTIA DE QUALIDADE DE DADOS OU ATÉ EVENTUAIS COBRANÇAS DOS PROVEDORES E OPERADORAS CONCESSIONÁRIAS DE ACESSO À INTERNET, E NEM SE RESPONSABILIZA POR DANOS MORAIS,
                FINANCEIROS OU DE OUTRA NATUREZA SOBRE USO DE WI-FI´S CADASTRADOS NO SERVIÇO. RECOMENDAMOS QUE VOCÊ EVITE ACESSAR INFORMAÇÕES SENSÍVEIS E CONFIDENCIAIS QUANDO FIZER USO DESSE SERVIÇO. EX: EVITE REALIZAR TRANSAÇÕES FINANCEIRAS!</p>
            <p class="termos bodytext">A TRIIBO declara ainda não que não possui meio próprios de acesso à internet (infra-estrutura, redes, fibras ópticas e etc) oferecidos diretamente aos usuários e prestadores e caso aconteça no futuro a TRIIBO reserva-se o direito de declarar
                esta questão de forma explícita. Assim entendemos manter o máximo de imparcialidade e transparência dentro da plataforma.</p>
            <p class="termos bodytext">OS DADOS DE USO DOS SERVIÇOS DE WI-FI SEGUEM NOSSA <span class="textblue">POLÍTICA DE PRIVACIDADE</span>, E POR ISSO GARANTIMOS SIGILO AOS NOSSOS CLIENTES QUANDO HOUVER USO DESTE SERVIÇO. NO ENTANTO DEVIDO A LEI RECENTE MARCO CIVIL DA INTERNET
                (LEI 12.965) PODEREMOS PRECISAR INFORMAR DADOS DE IDENTIFICAÇÃO DOS USUÁRIOS AOS ESTABELECIMENTOS (PRESTADORES) QUE FOREM PROPRIETÁRIOS DE REDES WI-FI CADASTRADOS NA TRIIBO E ESTEJAM DISPONIBILIZANDO O SERVIÇO DE WI-FI.</p>
            <p class="termos bodytext">Ao utilizar o Serviço de WI-FI TRIIBO o usuário concorda que poderá ter seus dados analisados pela TRIIBO, tais como dispositivos utilizados, tempo, localização geográfica, relacionamento entre prestadores e fornecedores, localidade, horário,
                categoria e duração com objetivo único de melhorar nossos Serviços.</p>
            <p class="termos bodytext">A TRIIBO NÃO ANALISA DADOS DE NAVEGAÇÃO DO USUÁRIO DURANTE O USO DE WI-FI (EX: SITES ACESSADOS, CONTEÚDO DE PACOTES, TIPO DO ACESSO) E DECLARA NÃO TER ACESSO NEM CONHECIMENTO ÀS INFORMAÇÕES QUE TRAFEGAM DURANTE O ACESSO À INTERTER POR INTERMÉDIO
                DO WI-FI TRIIBO.</p>
            <p class="termos subtitle">Sobre estes Termos</p>
            <p class="termos bodytext">Podemos modificar estes termos ou quaisquer termos adicionais que sejam aplicáveis a um Serviço para, por exemplo, refletir alterações da lei ou mudanças em nossos Serviços. Você deve consultar os termos regularmente. Postaremos avisos sobre
                modificações nesses termos em nosso site. SE VOCÊ NÃO CONCORDAR COM OS TERMOS ALTERADOS DE UM SERVIÇO, DEVE DESCONTINUAR O USO DESSE SERVIÇO IMEDIATAMENTE.</p>
            <p class="termos bodytext">Caso você não cumpra estes termos e nós não tomemos providências imediatas, isso não significa que estamos renunciando a quaisquer direitos que possamos ter (como tomar providências futuras).</p>
            <p class="termos bodytext">Caso uma condição específica destes termos não seja executável, isso não prejudicará quaisquer outros termos.</p>
            <p class="termos bodytext">As leis brasileiras, serão aplicáveis a quaisquer disputas decorrentes de ou relacionadas com estes termos ou Serviços. Todas as reclamações decorrentes de ou relacionadas com estes termos ou Serviços serão litigadas exclusivamente em tribunais
                da Comarca de São Paulo, SP, Brasil.</p>
            <h1 class="termos header">POLÍTICA DE PRIVACIDADE TRIIBO</h1>
            <p class="termos lastVersion">Última modificação: 01 de julho de 2016</p>
            <p class="termos title">Política de Privacidade</p>
            <p class="termos bodytext">Quando o usuário (Cliente ou Prestador) usa nossos serviços, confia a nós informações. Existem muitas maneiras diferentes pelas quais o usuário pode usar nossos serviços – compartilhar informações de horários disponíveis, comunicar-se com
                prestadores e clientes, cadastrar ou acessar redes wifi disponível. Quando o usuário compartilha informações conosco, por exemplo, através de uma conta TRIIBO, buscamos constantemente melhorar nossos serviços ajudando por exemplo, a se
                conectar com pessoas ou tornar o compartilhamento com outras pessoas mais rápido e fácil. Para que isto seja possível, temos a <span class="textblue">Nossa Política de Privacidade</span>, e que explica minimamente os pontos abaixo:</p>
            <ul class="termos topic">
                <li>Quais informações coletamos e por que as coletamos.</li>
                <li>Como usamos essas informações.</li>
                <li>As opções que oferecemos, incluindo o modo de acessar e atualizar informações.</li>
            </ul>
            <p class="termos bodytext">COMO SABEMOS QUE ISSO É IMPORTANTE, ESPERAMOS QUE O USUÁRIO TIRE ALGUM TEMPO PARA LÊ-LA COM CUIDADO!</p>
            <p class="termos title">Informações que coletamos</p>
            <p class="termos bodytext">Coletamos informações para fornecer serviços melhores a todos os nossos usuários, desde ofertas de novos prestadores, ofertas de novos serviços, clientes interessados em seus serviços, entre outros, e ajudamos os usuários a obterem mais facilidades
                de acesso comunicando através de SMS, E-mails, e notificações via sistemas. Coletamos informações das seguintes maneiras:</p>
            <ul class="termos topic">
                <li>Informações que o usuário nos transmite. <span>Ao utilizar o Serviço de Conta TRIIBO, pedimos <span class="textblue">informações pessoais</span>, como nome, endereço de e-mail, número de telefone, CPF, endereço, gênero, para armazenar
                    com a conta. Podemos fazer associação do perfil do usuário Google, caso o mesmo seja utilizado para login ao sistema, à Conta TRIIBO para que o usuário consiga aproveitar sinergias de outras redes existente.
                    </span>
                </li>
                <li>Informações que coletamos a partir do uso que o usuário faz dos nossos serviços. <span>Coletamos informações sobre os serviços que o usuário utiliza e como os usa, por exemplo, quando um usuário marca reserva um serviço através do Agenda TRIIBO, nós podemos registrar todas as informações do evento.</span></li>
                <li>Informações do dispositivo: <span>Coletamos informações específicas de dispositivos (por exemplo, modelo de hardware, versão do sistema operacional e informações da rede móvel)</span></li>
                <li>Informações de registro: <span>Quando o usuário utiliza nossos serviços ou vê conteúdo fornecido pela TRIIBO, nós coletamos e armazenamos automaticamente algumas informações.Estas informações são utilizadas para a disponibilização correta dos serviços e sem os mesmos, o usuário pode não ter acesso ao serviço.Isso inclui, mas não se limita a:<ul class="termos topic"><li><span>Detalhes de como o usuário utilizou nossos serviços, como seus agendamentos e pessoas envolvidas.</span></li>
                <li><span>Localização geográfica aproximada;.</span></li>
                <li><span>Informações de evento de dispositivo como problemas, atividade do aplicativo, configurações de hardware a data e horário de sua solicitação.</span></li>
                <li><span>Informações sobre a utilização da rede Wifi pelo dispositivo.</span></li>
            </ul>
            </span>
            </li>
            <li>Armazenamento local: <span>Podemos coletar e armazenar informações (inclusive informações pessoais) localmente em seu dispositivo de acesso usando mecanismos como armazenamento na WEB (inclusive HTML 5) e caches de dados no aplicativo com uso de bancos de dados.</span></li>
            <li>Cookies e tecnologias semelhantes: <span>Nós juntamente com nossos parceiros usamos várias tecnologias para coletar e armazenar informações quando o usuário utiliza Serviços da TRIIBO. Tais informações podem incluir o uso cookies ou similares para identificação do navegador ou dispositivo do usuário. Também usamos essas tecnologias para coletar e armazenar informações quando o usuário interage com nossos serviços que oferecemos, como serviços de publicidade ou recursos TRIIBO que possam aparecer em outros sites. As informações que coletamos quando o usuário está conectado à TRIIBO, além das informações do usuário que recebemos dos nossos parceiros, devem estar associadas à Conta da TRIIBO do mesmo. Quando as informações estão associadas à Conta TRIIBO, nós as tratamos como informações pessoais.</span></li>
            </ul>
            <p class="termos title">Como usamos as informações que coletamos</p>
            <p class="termos bodytext">Usamos as informações que coletamos em todos nossos serviços para <span class="textblue">fornecer, manter, proteger</span> e melhorar esses serviços, <span class="textblue">desenvolver novos</span> e <span class="textblue">proteger a TRIIBO e nossos usuários</span>.
                Também usamos essas informações para oferecer ao usuário um conteúdo específico, por exemplo, fornecer acesso a prestadores. Ex: Ao agendar uma um serviço através da TRIIBO você compartilha dados do agendamento com prestadores de forma
                permanente. Mesmo que depois o evento tenha sido cancelado ou o prestador deixe de fazer parte de sua rede.</p>
            <p class="termos bodytext">Podemos usar suas informações como, nome, telefone, dados de localização e e-mail de contato para que prestadores de sua rede consigam visualizar eventos compartilhados com você ou a sua utilização das redes Wifi cadastradas na TRIIBO. Nós
                não fornecemos suas informações a terceiros não participantes da TRIIBOde forma que estes possam identificar quem são os usuários. Podemos, no entanto, estudar alguns comportamentos existentes na utilização dos nossos serviços para disponibilizar
                serviços melhores a você em parceria com terceiros.</p>
            <p class="termos bodytext">A TRIIBO processa informações servidores na nuvem (Cloud Computing). Podemos processar e armazenar as informações pessoais do usuário em um servidor localizado fora do país em que este vive.</p>
            <p class="termos title">Transparência e escolha</p>
            <p class="termos bodytext">As pessoas têm diferentes preocupações sobre privacidade. Nosso objetivo é a clareza quanto às informações que coletamos, de modo que o usuário possa fazer escolhas importantes sobre como elas são usadas. Por exemplo, o usuário pode:</p>
            <ul class="termos topic">
                <li>Rever e controlar <span>determinados tipos de informações ligados à sua Conta TRIIBO, através de seu cadastro pessoal.</span></li>
                <li>Ver e editar <span>preferências sobre os anúncios e-mail e SMS que a TRIIBO pode enviar.</span></li>
                <li>Controlar <span>com quem você poderá compartilhar informações por meio do seus Favoritos.</span></li>
                <li>Receber informações <span>associadas à sua Conta da TRIIBO de muitos de nossos serviços e de prestadores.</span></li>
            </ul>
            <p class="termos bodytext">Todas as escolhas acima estão disponibilizadas e podem ser feitas diretamente nos sistemas da TRIIBO que o usuário utiliza no dia a dia.</p>
            <p class="termos title">Acesso e atualização de suas informações pessoais</p>
            <p class="termos bodytext">Sempre que o usuário usa nossos serviços, nosso objetivo é oferecer-lhe <span class="textblue">acesso a suas informações pessoais</span>. Se essas informações estiverem erradas, nos empenhamos em prover maneiras rápidas de atualizá-las ou
                excluí-las – exceto quando temos de mantê-las para fins comerciais legítimos ou jurídicos. Ao atualizar suas informações pessoais, podemos solicitar o usuário que confirme sua identidade antes de atendermos a solicitação.</p>
            <p class="termos bodytext">Podemos recusar as solicitações que sejam repetitivas, que requeiram esforço técnico desproporcional (por exemplo, desenvolvimento de um novo sistema ou mudança fundamental de uma prática existente), coloquem em risco a privacidade de outros
                ou que sejam extremamente impraticáveis (por exemplo, solicitações referentes a informações localizadas em sistemas de backup).</p>
            <p class="termos bodytext">Nos casos em que pudermos fornecer acesso e correção de informações, faremos isso gratuitamente, exceto quando isso exigir esforço desproporcional. Nosso objetivo é manter nossos serviços de modo a proteger informações de destruição acidental
                ou maliciosa. Assim, depois de excluir informações de nossos serviços, não podemos excluir imediatamente cópias residuais de nossos servidores ativos e pode não ser possível remover informações de nossos sistemas de backup.</p>
            <p class="termos title">Informações que compartilhamos</p>
            <p class="termos bodytext">Não compartilhamos informações pessoais com empresas, organizações e indivíduos externos à TRIIBO, salvo em uma das seguintes circunstâncias:</p>
            <ul class="termos topic">
                <li>Com sua autorização: <span>Compartilharemos informações pessoais com empresas, organizações ou indivíduos externos à TRIIBO quando tivermos sua autorização para isso. Solicitamos autorização (“opt-in”) para compartilhamento de quaisquer <span class="textblue">informações sensíveis de caráter pessoal</span>.</span>
                </li>
                <li>Para processamento externo: <span>Fornecemos informações pessoais a nossos parceiros ou outras empresas ou pessoas confiáveis para processá-las para nós, com base em nossas instruções e em conformidade com nossa <span class="textblue">Política de Privacidade</span>                    e quaisquer outras medidas de segurança e de confidencialidade adequadas.</span>
                </li>
                <li>Por motivos legais: <span>Compartilharemos informações pessoais com empresas, organizações ou indivíduos externos à TRIIBO se acreditarmos, de boa-fé, que o acesso, uso, conservação ou divulgação das informações seja razoavelmente necessário para:</span>
                    <ul class="termos topic">
                        <li><span>Cumprir qualquer legislação, regulamentação, processo legal ou solicitação governamental aplicável.</span></li>
                        <li><span>Cumprir Termos de Serviço aplicáveis, inclusive investigação de possíveis violações.</span></li>
                        <li><span>Detectar, impedir ou abordar de alguma outra forma fraude, questões técnicas ou de segurança.</span></li>
                        <li><span>Proteger contra danos aos direitos, a propriedade ou a segurança da TRIIBO, nossos usuários ou o público, conforme solicitado ou permitido por lei.</span></li>
                        <li><span><span class="textblue">Podemos compartilhar informações que não sejam pessoalmente identificáveis</span> publicamente e com nossos parceiros, como sites de editores, anunciantes ou sites relacionados. Por exemplo, podemos
                            compartilhar informações publicamente <span class="textblue">para mostrar tendências</span> sobre o uso geral dos nossos serviços.</span>
                        </li>
                        <li><span>Se a TRIIBO estiver envolvida em uma fusão, aquisição ou venda de ativos, continuaremos a garantir a confidencialidade de qualquer informação pessoal e avisaremos os usuários afetados antes que as informações pessoais sejam transferidas ou sejam submetidas a uma política de privacidade diferente.</span></li>
                    </ul>
                </li>
            </ul>
            <p class="termos title">Segurança das informações</p>
            <p class="termos bodytext">Trabalhamos com afinco para proteger a TRIIBO e nossos usuários de acesso não autorizado ou alteração, divulgação ou destruição não autorizada das informações que detemos. Especificamente:</p>
            <ul class="termos topic">
                <li><span>Todo o acesso remoto as informações guardadas em servidores são criptografadas utilizando-se de soluções padrões de mercado.</span></li>
                <li><span>Analisamos nossa coleta de informações, práticas de armazenamento e processamento, inclusive medidas de segurança física, para proteção contra acesso não autorizado aos sistemas.</span></li>
                <li><span>Restringimos o acesso a informações pessoais por parte de empregados, contratados e representantes da TRIIBO que necessitam saber essas informações para processá-las para nós, e que estão sujeitos a rigorosas obrigações contratuais de confidencialidade, podendo ser processados ou dispensados se deixarem de cumprir tais obrigações.</span></li>
            </ul>
            <p class="termos title">Quando esta Política de Privacidade se aplica</p>
            <p class="termos bodytext">Nossa Política de Privacidade se aplica a todos os Serviços oferecidos pela TRIIBO e seus parceiros, serviços que a TRIIBO oferece em dispositivos Android, IOS e Web e serviços oferecidos em outros sites, mas exclui serviços que tenham políticas
                de privacidade separadas que não incorporam esta <span class="textblue">Política de Privacidade</span>. A validade desta Política de Privacidadese inicia desde a instalação ou primeiro acesso aos sistemas da TRIIBO, independente da tecnologia
                usada para tal.</p>
            <p class="termos bodytext">Nossa Política de Privacidade não se aplica a serviços oferecidos por outras empresas ou indivíduos, inclusive produtos ou sites que podem ser exibidos ao usuário nos resultados de pesquisa, derivados do acesso a serviços de terceiros (Ex:
                Propagandas), ou sites que podem incluir serviços da Triibo, ou outros sites com links de nossos serviços. Nossa Política de Privacidade não abrange as práticas de informação de outras empresas e organizações que anunciam serviços e que
                podem usar cookies, pixels tags e outras tecnologias.</p>
            <p class="termos title">Alterações</p>
            <p class="termos bodytext">Nossa Política de Privacidade pode ser alterada de tempos em tempos. Publicaremos quaisquer alterações da política de privacidade nesta página e, se as alterações forem significativas, forneceremos um aviso com mais destaque (incluindo, para
                alguns serviços, notificação por e-mail das alterações da política de privacidade). Também manteremos as versões anteriores desta Política de Privacidade arquivadas para que o usuário possa visualizá-las.</p>
        </div>


    </div>

    <script type="text/javascript" src="../frontendjs/jquerym.min.js"></script>

</body>

</html>