<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/wifi.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/montserrat.css">
    <link rel="stylesheet" href="../css/material-font.css">

</head>

<body class="wifilogin">

    <div class="container" style=" height:100vh; position:relative">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="notificationbox">
                    <div class="cadastrar">
                        <div class="interna">
                            <form method="post" action="<%= ROUTERPATH %>/cadastrar" id="cadastroform">

                                <div style="text-align:center; display:block"><i class="icon_happy_face"></i></div>
                                <p style="font-size: 16px"> Olá, este é seu <strong>1º acesso</strong>!! </p>
                                <div class="text-left primeiro-acesso">
                                    <p>Confira seus dados e clique em <strong>OK</strong> para continuar</p>

                                    <p style="color:#fff">» Nome: <b> <%= USER_NOME %> </b></p>
                                    <p style="color:#fff">» Email: <b> <%= USER_LOGIN %> </b></p>

                                </div>
                                <a onclick="hidecadastrar()" class="btn btn-primary" style="width: 25%; float: left; text-align: center; margin: 10px 10px 10px 30px;">
                                    <b>Corrigir</b></a>

                                <a onclick="formcadastro()" class="btn btn-warning" style="background-color:#CD6E18; color:#fff; width: 25%; float: right; text-align: center; margin: 10px 30px 10px 10px"><strong>OK</strong></a>

                            </form>
                        </div>
                    </div>
                    <div class="aguarde" style="color:#fff;">
                        <p><br><br><img class="iconTriiboWifi" src="../images/logo_cafe_ponto.jpg" width="160" /><br></p>
                        <span style="font-size:16px; font-weight:500;">Aguarde...</span>
                        <!-- COFFEE -->
                        <div class="container-coffee">
                            <div class="mug-coffee">
                                <div class="smoke-container">
                                    <svg width="80px" height="53px" viewbox="0 0 31 53">
                                        <g stroke="none" stroke-width="2" fill="none" fill-rule="evenodd">
                                            <g class="smokes" transform="translate(.500000, .500000)" stroke="#fff" stroke-width="7">
                                                <g class="smoke-1">
                                                    <path id="Shape1" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
                                                </g>
                                                <g class="smoke-2">
                                                    <path id="Shape2" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
                                                </g>
                                                <g class="smoke-3">
                                                    <path id="Shape3" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="mug"></div>
                            </div>
                        </div>
                    </div>
                    <div class="error">
                        <div class="interna">
                            <span class="title"><span class="icon_sad_face"></span>Ops! Algo deu errado...</span>

                            <span class="errormsg">Verifique o usuário e a senha informados</span><br>
                            <%
							if(ERROR_CODE == 6){
							%>
                                <p><a href="#" class="btn btn-warning" style="text-align: center; color: #fff" data-toggle="modal" data-target="#modalEsqueciSenha">ESQUECI MINHA SENHA</a></p>
                                <%
							}
							%>
                                    <p><a onclick="hideerror()" class="btn btn-primary btn-sm" style="text-align: center; color: #fff">VOLTAR</a></p>
                        </div>
                    </div>
                    <div class="respSenha">
                        <div class="interna" style="padding: 0 20px; text-align: center">
                            <span class="title"><i class="material-icons" style="font-size: 32px">warning</i><br><br>Mensagem de alteração de senha enviada para seu email!</span>

                            <p><a onclick="hideerror()" class="btn btn-primary" style="text-align: center; color: #fff">Fechar</a></p>
                        </div>
                    </div>
                </div>

                <div class="headerwifi">
                    <div style="text-align: center; width: 100%;">
                        <p><img class="iconTriiboWifi" src="../images/logo_cafe_ponto.jpg" width="160" /></p>

                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-md-12">

                    <br><br><br><br>

                    <center>
                        <p style="font-size: 14px">Login com :</p>

                        <a onclick="facebooklogin()" class="btn btn-default btn-circle btn-lg" style="margin: 6px; background-color: #3B5998; border-color: #3B5998; color:#fff; padding: 16px 18px "><span class="fa fa-facebook fa-lg "></span></a>
                        <!-- <% if(os != 'ios-captive' || os != 'ios'){ %>                            -->
                        <a onclick="googlelogin()" class="btn btn-default btn-circle btn-lg" style="margin: 6px; padding: 10px"><img src="../images/icon-google.png" width="26" height="27" /></a>
                        <!-- <%}%> -->

                        <p>Ou utilizar meu <strong>e-mail</strong></p>

                        <div class="form-group spaceing ">
                            <form method="post" action="<%= ROUTERPATH %>/dologin" id="mailform">
                                <input type="text" class="inputWifi" name="nome" placeholder="Nome" value="" />
                                <input style="text-transform: lowercase" type="text" class="inputWifi" name="user" placeholder="Email" value="" />
                                <input type="password" class="inputPass" name="password" id="password" placeholder="Senha" />
                                <button class="button inputWifi" type="button" id="showPassword" style="width:auto; display: block; font-size: 20px; background:transparent;  cursor: pointer; float: right;  color:#fff; text-align: center; padding: 6px 16px"><i class="material-icons">visibility</i></button>
                                <!--<a href="#" class="btn bn-link" style="color: #fff; text-align: right" data-toggle="modal" data-target="#modalEsqueciSenha">Esqueci minha senha</a>-->
                                <a class="btn btn-primary btn-lg btn-primary-sm" style="text-align:center; margin-top: 22px" onclick="formlogin()">Entrar</a>

                            </form>
                        </div>

                    </center>


                    <!--<% if(os != 'ios-captive'){ %>	
								<a href="https://app.triibo.com.br/#/termosdeuso">
									<div class="tinylink"><i class="material-icons">description</i> Termos de Uso</div>
								</a>
								<% } %>-->


                    <div class="spaceblock"></div>

                </div>



                <input type="hidden" id="idfacebook" value="<%= idfacebook %>"></input>
                <input type="hidden" id="myurl" value="<%= url %>"></input>
                <input type="hidden" id="error" value="<%= error %>"></input>
                <input type="hidden" id="cadastrar" value="<%= cadastrar %>"></input>
                <input type="hidden" id="signInWithEmail" value="<%= signInWithEmail %>"></input>
                <input type="hidden" id="googleurl" value="<%= googlelogin %>"></input>
                <input type="hidden" id="routerPath" value="<%= ROUTERPATH %>"></input>

            </div>
        </div>

        <div class="powered">powered by <img src="../images/mini_logo_triibo.png"></div>
    </div>

    <!-- Modal EMAIL-->
    <div class="modal fade" id="modalEmail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#DBB37F; border-radius: 6px 6px 0 0">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" style="color: #000000">Preencha os campos baixo para fazer seu login</p>
                </div>
                <div class="modal-body" style="background-color:#FAE6C4">
                    <form method="post" action="<%= ROUTERPATH %>/dologin" id="mailform">
                        <input type="text" class="inputWifi" id="nome" name="nome" placeholder="Nome" value="" />
                        <input style="text-transform: lowercase" type="email" class="inputWifi" id="user" name="user" placeholder="Email" value="" />
                        <div id="erroEmail"></div>
                        <input type="password" class="inputWifi inputPass" style="background-color:transparent;" name="password" id="password" placeholder="Senha" />
                        <button class="inputWifi" type="button" id="showPassword" style="width:auto; display: block; font-size: 20px; background:transparent;  cursor: pointer; float: right;  color:#AFA189; text-align: center; padding: 6px 16px"><i class="material-icons">visibility</i></button>

                        <a class="btn btn-primary btn-lg" style="text-align:center; margin-top: 10px" onclick="formlogin()">ENTRAR</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal CELULAR-->
    <div class="modal fade" id="modalCelular">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" style="color: #2F68A9">Informe seu celular para entrar e receba um SMS com senha para acesso.</p>
                </div>
                <div class="modal-body">
                    <form method="post" action="<%= ROUTERPATH %>/dologinPhone" id="mailformCel">
                        <input id="nomeCel" type="text" class="inputCel" name="nomeCel" required placeholder="Nome" value="" />
                        <input id="celular" type="text" class="inputCel" name="celular" required placeholder="Celular" value="" />
                        <input id="codeSMS" type="text" class="inputCel" name="codeSMS" required placeholder="* Digite aqui o código que enviamos" value="" style="display:none" />
                        <p><br></p>
                        <p><a class="btn btn-primary btn-lg" style="text-align:center " onclick="formloginCel()">ENVIAR</a></p>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal Esqueci Senha-->
    <div class="modal fade" id="modalEsqueciSenha">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header" style="background-color:#DBB37F; border-radius: 6px 6px 0 0">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" style="color: #000"><strong>Esqueceu a Senha!</strong><br>Confira o endereço de e-mail abaixo e clique em <strong>"Recuperar senha"</strong>. Sua senha será redefinida e enviada para o email abaixo em instantes.</p>
                </div>
                <div class="modal-body" style="background-color:#FAE6C4">
                    <form method="post" action="<%= ROUTERPATH %>/resetSenha" id="resetSenha">

                        <input type="email" style="text-transform: lowercase" class="inputWifi" name="email" placeholder="E-mail cadastrado" value="<%= USER_LOGIN %>" />

                        <p><br></p>
                        <p><a class="btn btn-primary btn-lg" style="text-align:center " onclick="formResetSenha()">Recuperar senha</a></p>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="../frontendjs/jquery.min.js"></script>
    <script type="text/javascript" src="../frontendjs/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../frontendjs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../frontendjs/login.js"></script>
    <script type="text/javascript" src="../frontendjs/detectmobile.js"></script>
    <script>
        var onresize = function() {
            width = document.body.clientWidth;
            height = document.body.clientHeight;
            if (height <= 490) {

                $('.powered').css({
                    "display": "none"
                });
            } else {

                $('.powered').css({
                    "display": "block"
                });
            }

        }
        window.addEventListener("resize", onresize);
    </script>

    <script type="text/javascript">
        //Intitialize Firebase to handle reCaptcha
        var config = {
            apiKey: "<%=FIREBASE_APIKEY%>",
            authDomain: "<%=FIREBASE_PROJECTID%>",
            databaseURL: "<%=FIREBASE_DATABASEURL%>",
            storageBucket: "<%=FIREBASE_STORAGEBUCKET%>",
            messagingSenderId: "<%=FIREBASE_MESSAGINGSENDERID%>"
        };
        firebase.initializeApp(config);

        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('btnEnviarPhone', {
            'size': 'invisible',
            'callback': function(response) {
                // reCAPTCHA solved, allow signInWithPhoneNumber.
                formloginCel();
            }
        });
    </script>



</body>

</html>